.header {
  display: flex;
  justify-content: left;
  position: fixed;
  width: 100%;
  /* text-decoration: none; */
  padding-top: 15px;
  top: 0;
  background-color: black;
  /* color: wheat; */
  z-index: 2;
  left: 0;
  color: white;
  background-image: linear-gradient(rgb(14, 13, 13), gray);
}


.logo {
  width: 10rem;
  height: 50px;
  margin-top: -10px;
}

/* Parent class position  */
.parent {
  display: block;
  position: relative;
  float: left;
  line-height: 40px;
  background-color: transparent;
  border-right: #CCC 1px solid;
  margin-left: 10px;
}


.parent a {
  margin: 40px;
  color: #FFFFFF;
  text-decoration: none;
}

.parent:hover>ul {
  display: block;
  position: absolute;
}

.child {
  display: none;
}

.child li {
  background-image: linear-gradient(gray, black, gray);
  line-height: 30px;
  border: #CCC 1px solid;
  width: 100%;
}

.child li a {
  color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0px;
  min-width: 10em;
}

ul ul ul {
  left: 100%;
  top: 0;
  margin-left: 1px;
}

li:hover {
  background-image: linear-gradient(black, red);


}

.parent li:hover {
  background-image: linear-gradient(red, black);
}

.expand {
  font-size: 12px;
  float: right;
  margin-right: 5px;
}