.plans-container {
    background-image: linear-gradient(black, rgba(255, 0, 0, 0.589), black);
    margin-top: -4rem;
    padding: 0 2rem;
    padding-left: 4rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;

}

.plans-header {
    color: white;
    font-size: larger;
    font-size: 4rem;
    gap: 2rem;
}

.span {
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    color: red;
}

.plans {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

}

.plan {
    display: flex;
    flex-direction: column;
    background-color: gray;
    color: white;
    gap: 2rem;
    padding: 1.5rem;
    width: 15rem;

}

.plan:nth-child(2) {
    background-color: rgb(252, 5, 5);
    transform: scale(1.1);

}

.plan>svg {
    fill: red;
    width: 2rem;
    height: 2rem;
}

/* headings basic plan etc */
.plan>:nth-child(2) {
    font-size: 1rem;
    font-weight: bold;
}

/* prices like 25$ */
.plan>:nth-child(3) {
    font-size: 2rem;
    font-weight: bold;
}

.feature {
    display: flex;
    align-items: center;
    gap: .5rem;

}

.features>img {
    width: 1rem;
}

.plans>:nth-child(2)>svg {
    fill: white;
}

.plans>:nth-child(2)>button {
    color: red;
}

@media screen and (max-width: 786px) {
    .plans {
        flex-direction: column;
    }

    .plans:nth-child(2) {
        transform: none;
    }
}